@page "/help"
@inject ILogger<HelpPage> Logger
@inject AppState State

<PageContainer Title="SCMM - Help">
    <MudGrid Spacing="4">
        <MudItem xs="12" md="6" lg="5" xl="3">
            <MudGrid Spacing="2">

                <MudItem xs="12">
                    <MudText Typo="Typo.h6" Color="Color.Default">
                        <span>Help & Support</span>
                    </MudText>
                    <MudDivider />
                </MudItem>
                <MudItem xs="12">
                    <DiscordInvite InviteCode="mkwp9ZSBXk" /><!-- SCMM -->
                </MudItem>

                @if (State.App.DiscordCommunities?.Any() == true)
                {
                    <MudItem xs="12">
                        <MudText Typo="Typo.h6" Color="Color.Default">
                            <span>@State.App.Name Communities</span>
                        </MudText>
                        <MudDivider />
                        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" Class="mt-2" GutterBottom="true">
                            <p>Want to discuss @State.App.Name skins and the Steam Community Market with other like minded people? Consider joining these Discord communities.</p>
                        </MudText>
                    </MudItem>
                    @foreach (var community in State.App.DiscordCommunities)
                    {
                        <MudItem xs="12">
                            <DiscordInvite InviteCode="@community" />
                        </MudItem>
                    }
                }
            </MudGrid>
        </MudItem>
        <MudItem xs="12" md="6" lg="7" xl="9">
            <MudGrid Spacing="2">
                <MudItem xs="12">
                    <MudText Typo="Typo.h6" Color="Color.Default">
                        <span>How to use SCMM</span>
                    </MudText>
                    <MudDivider />
                    <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" Class="mt-2" GutterBottom="true">
                        <p>Want to learn how to make the most out of SCMM functionality? Watch these videos.</p>
                    </MudText>
                    <MudGrid Spacing="2">
                        <MudItem xs="12" md="12" lg="6" xl="4">
                            <YouTubeVideo VideoId="BXdcsZDFfik" /><!-- Every Rust Skin Investor should use Scmm.app! -->
                        </MudItem>
                        <MudItem xs="12" md="12" lg="6" xl="4">
                            <YouTubeVideo VideoId="KfhBFw2NNLM" /><!-- How to stack Rust skins? -->
                        </MudItem>
                    </MudGrid>
                </MudItem>
                @if (State.App.DiscordCommunities?.Any() == true)
                {
                    <MudItem xs="12">
                        <MudText Typo="Typo.h6" Color="Color.Default">
                            <span>@State.App.Name Economy</span>
                        </MudText>
                        <MudDivider />
                        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" Class="mt-2" GutterBottom="true">
                            <p>Want to learn more about the @State.App.Name and Steam Community Market economy? Watch these videos.</p>
                        </MudText>
                        <MudGrid Spacing="2">
                            @foreach (var media in State.App.EconomyMedia)
                            {
                                <MudItem xs="12" md="12" lg="6" xl="4">
                                    <YouTubeVideo VideoId="@media" />
                                </MudItem>
                            }
                        </MudGrid>
                    </MudItem>
                }
            </MudGrid>
        </MudItem>
    </MudGrid>
</PageContainer>
