@namespace SCMM.Web.Client.Pages.Steam.Inventory
@using SCMM.Web.Shared.Domain.DTOs.MarketItems
@using SCMM.Web.Shared.Domain.DTOs.InventoryItems
@using SCMM.Web.Shared;
@inherits ComponentBase
@inject AppState State

@if (Activity != null)
{
    <Paper>
        <Table StickyHeader Size="@Size.Small">
            <TableHead>
                <TableRow>
                    <TableCell></TableCell>
                    <TableCell>Name</TableCell>
                    <TableCell>Activity</TableCell>
                    <TableCell>When</TableCell>
                </TableRow>
            </TableHead>
            <TableBody>
                @foreach (var item in Activity)
                { 
                <TableRow>
                    <TableCell Class="@GetItemClass(item)">
                        <img src="@item.IconUrl" style="max-width:32px; max-height:32px; margin:-4px 0px;" />
                    </TableCell>
                    <TableCell Component="th" Scope="row" Class="@GetItemClass(item)">
                        <strong>@item.Name</strong>
                    </TableCell>
                    <TableCell Class="@GetItemClass(item)">
                        @if (item.Movement > 0)
                        {
                            <span>🡱 increased by @State.Currency.ToPriceString(item.Movement)</span>
                        }
                        else
                        {
                            <span>🡳 dropped by @State.Currency.ToPriceString(item.Movement)</span>
                        }
                    </TableCell>
                    <TableCell Class="@GetItemClass(item)">
                        <span>about @((DateTimeOffset.Now - item.Timestamp).ToDurationString()) ago</span>
                    </TableCell>
                </TableRow>
                }
            </TableBody>
        </Table>
    </Paper>
}

@code {

    [Parameter]
    public IList<ProfileInventoryActivityDTO> Activity { get; set; }

    private string GetItemClass(ProfileInventoryActivityDTO item)
    {
        if (item.Movement > 0)
        {
            return "Text-Success";
        }
        if (item.Movement < 0)
        {
            return "Text-Error";
        }
        return null;
    }

}
