@namespace SCMM.Web.Client.Pages.Steam.Inventory
@using Web.Shared.Data.Models.UI
@using SCMM.Web.Shared.Domain.DTOs.InventoryItems;
@using SCMM.Web.Shared
@inherits ComponentBase
@inject ILocalStorageService LocalStorage
@inject ILogger<InventoryItemsInvestment> Logger
@inject HttpClient Http
@inject AppState State

<Table StickyHeader Size="@Size.Small">
    <TableHead>
        <TableRow>
            <TableCell>
                @CreateSortableColumn("name", "Name")
            </TableCell>
            <TableCell>
                @CreateSortableColumn("buyPrice", "Buy Price")
            </TableCell>
            <TableCell>
                @CreateSortableColumn("marketValue", "Current Market Value")
            </TableCell>
            <TableCell>
                @CreateSortableColumn("resellPrice", "Resell Price")
            </TableCell>
            <TableCell>
                @CreateSortableColumn("resellFees", "Resell Fees")
            </TableCell>
            <TableCell>
                @CreateSortableColumn("resellProfit", "Resell Profit")
            </TableCell>
            <TableCell>
                @CreateSortableColumn("resellROI", "Resell ROI%")
            </TableCell>
        </TableRow>
    </TableHead>
    <TableBody>
        <Virtualize @ref="ItemTable" ItemsProvider="LoadItems" Context="item">
            <ItemContent>
                <TableRow @key="@item.Id" Hover>
                    <TableCell Component="th" Scope="row" Class="@GetItemClass(item)">
                        <div style="display:flex; align-content:center; align-items:center">
                            <img src="@item.IconUrl" style="max-width:32px; max-height:32px; margin:-4px 0px;" />
                            <strong style="margin:8px">@item.Name</strong>
                            @if (item.Quantity > 1)
                            { 
                                <div class="Chip-Root">
                                    <span class="Chip-Label">
                                        @item.Quantity.ToQuantityString()
                                    </span>
                                </div>
                            }
                        </div>
                    </TableCell>
                    <TableCell Class="@GetItemClass(item)">
                        @if (ReadOnly)
                        {
                            @if (item.BuyPrice != null)
                            {
                                @item.Currency?.ToPriceString(item.BuyPrice.Value, dense: true)
                            }
                            else
                            {
                                <span>—</span>
                            }
                        }
                        else
                        {
                            <InputBase Margin="@Margin.None" Style="width:70px" PlaceHolder="Price" Value="@item.Currency?.ToPriceString(item.BuyPrice.Value, dense: true)"
                                       OnChange="@((e) => UpdateItemPrice(item, e.Value.ToString()))">
                                <StartAdornment>
                                    @if (item.Currency != null)
                                    {
                                        <span style="padding-right:5px;">@item.Currency.PrefixText</span>
                                    }
                                    else
                                    {
                                        <span style="padding-right:5px;">@State.Currency.PrefixText</span>
                                    }
                                </StartAdornment>
                            </InputBase>
                        }
                    </TableCell>
                    <TableCell Class="@GetItemClass(item)">
                        @if (item.Last1hrValue != null)
                        {
                            @item.Currency.ToPriceString(item.Last1hrValue.Value)
                        }
                        else
                        {
                            <span>—</span>
                        }
                    </TableCell>
                    <TableCell Class="@GetItemClass(item)">
                        @if (item.ResellPrice != null)
                        {
                            @item.Currency.ToPriceString(item.ResellPrice.Value) 
                        }
                        else
                        {
                            <span>—</span>
                        }
                    </TableCell>
                    <TableCell Class="@GetItemClass(item)">
                        @if (item.ResellTax != null)
                        {
                            @item.Currency.ToPriceString(item.ResellTax.Value) 
                        }
                        else
                        {
                            <span>—</span>
                        }
                    </TableCell>
                    <TableCell Class="@GetItemClass(item)">
                        @if (item.ResellPrice != null && item.ResellTax != null && item.BuyPrice > 0 && (item.ResellPrice - item.ResellTax) > 0)
                        {
                            @item.Currency.ToPriceString(item.ResellPrice.Value - item.ResellTax.Value - item.BuyPrice.Value) 
                        }
                        else
                        {
                            <span>—</span>
                        }
                    </TableCell>
                    <TableCell Class="@GetItemClass(item)">
                        @if (item.ResellPrice != null && item.ResellTax != null && item.BuyPrice > 0 && (item.ResellPrice - item.ResellTax) > 0)
                        {
                            @(((int)Math.Round(((decimal)(item.ResellPrice.Value - item.ResellTax.Value) / item.BuyPrice.Value) * 100, 0) - 100).ToRoIString()) 
                        }
                        else
                        {
                            <span>∞</span>
                        }
                    </TableCell>
                </TableRow>
            </ItemContent>
            <Placeholder>
                <TableRow>
                    <TableCell>
                        <p style="padding: 8px">Loading...</p>
                    </TableCell>
                    <TableCell></TableCell>
                    <TableCell></TableCell>
                    <TableCell></TableCell>
                    <TableCell></TableCell>
                    <TableCell></TableCell>
                    <TableCell></TableCell>
                    <TableCell></TableCell>
                </TableRow>
            </Placeholder>
        </Virtualize>
    </TableBody>
</Table>

@code {

    [Parameter]
    public string SteamId { get; set; }
    
    [Parameter]
    public string Filter { get; set; }

    [Parameter]
    public bool ReadOnly { get; set; }
    
    private Virtualize<InventoryItemListDTO> ItemTable { get; set; }
    
    private string OrderBy { set; get; } = "marketValue";

    private Sort Direction { set; get; } = Sort.Ascending;

    protected override async Task OnInitializedAsync()
    {
        OrderBy = await LocalStorage.GetItemAsync<string>("Inventory.SortBy");
        Direction = await LocalStorage.GetItemAsync<Sort>("Inventory.SortDirection");
    }

    private RenderFragment CreateSortableColumn(string name, string label)
    {
        return @<TableSortLabel
                    Active="@(OrderBy == name)"
                    Direction="@Direction"
                    OnClick="@CreateOnSortClick(name)">
                    @label
                </TableSortLabel>;
    }

    private EventCallback<EventArgs> CreateOnSortClick(string name)
    {
        return EventCallback.Factory.Create<System.EventArgs>(this, async (_) =>
        {
            await HandleSortClick(name);
        });
    }

    private async Task HandleSortClick(string name)
    {
        if (OrderBy == name)
        {
            Direction = Direction == Sort.Ascending ? Sort.Descending : Sort.Ascending;
        }
        else
        {
            Direction = Sort.Ascending;
        }
        OrderBy = name;
        await LocalStorage.SetItemAsync<string>("Inventory.SortBy", OrderBy);
        await LocalStorage.SetItemAsync<Sort>("Inventory.SortDirection", Direction);
        StateHasChanged();
    }
    
    public async Task HandleFilterChange(string filter)
    {
        Filter = (string) filter;
        await ItemTable.RefreshDataAsync();
        StateHasChanged();
    }
    
    private string GetItemClass(InventoryItemListDTO item)
    {
        if (item.BuyPrice == 0 || item.BuyPrice == null || item.ResellPrice == null || item.ResellTax == null)
        {
            return null;
        }
        var roi = ((int)Math.Round(((decimal)(item.ResellPrice.Value - item.ResellTax.Value) / item.BuyPrice.Value) * 100, 0));
        if (roi >= 100)
        {
            return "Background-Success";
        }
        if (roi < 100)
        {
            return "Background-Error";
        }
        return null;
    }

    private async Task UpdateItemPrice(InventoryItemListDTO item, string value)
    {
        var buyPrice = SCMM.Steam.Shared.SteamEconomyHelper.GetPriceValueAsInt(value, useDecimalShortCircuit: false);
        if (buyPrice != item.BuyPrice)
        {
            item.Currency = State.Currency;
            item.BuyPrice = SCMM.Steam.Shared.SteamEconomyHelper.GetPriceValueAsInt(value, useDecimalShortCircuit: false);
            try 
            {
                await Http.PutAsJsonAsync($"api/profile/inventory/item/{item.Id}/buyPrice", new UpdateInventoryItemPriceCommand()
                {
                    CurrencyId = State.Currency.Id,
                    Price = value
                });
            }
            catch (Exception ex)
            {
                Logger.LogError(ex, $"Error updating item buy price for '{item.Id}' (value: '{value}')");
            }
        }
    }

    protected async ValueTask<ItemsProviderResult<InventoryItemListDTO>> LoadItems(ItemsProviderRequest request)
    {
        try
        {
            var response = await Http.GetFromJsonAsync<PaginatedResult<InventoryItemListDTO>>($"api/inventory/{SteamId}/returnOnInvestment?filter={Filter}&start={request.StartIndex}&count={request.Count}");
            return new ItemsProviderResult<InventoryItemListDTO>(response.Items, response.Total);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, $"Error listing inventory items");
            throw;
        }
    }
    
}
