@namespace SCMM.Web.Client.Pages.Steam.Inventory
@using SCMM.Web.Shared.Domain.DTOs.MarketItems
@using SCMM.Web.Shared.Domain.DTOs.InventoryItems
@using SCMM.Web.Shared;
@inherits ComponentBase
@inject AppState State

@if (Activity != null)
{
    <Paper>
        <Table StickyHeader Size="@Size.Small">
            <TableHead>
                <TableRow>
                    <TableCell>Name</TableCell>
                    <TableCell>Activity</TableCell>
                    <TableCell>When</TableCell>
                </TableRow>
            </TableHead>
            <TableBody>
                @foreach (var item in Activity)
                { 
                <TableRow>
                    <TableCell Class="@GetItemClass(item)">
                        <div style="display:flex; align-content:center; align-items:center">
                            <img src="@item.IconUrl" style="max-width:32px; max-height:32px; margin:-4px 0px;" />
                            <strong style="margin:8px">@item.Name</strong>
                        </div>
                    </TableCell>
                    <TableCell Class="@GetItemClass(item)">
                        @if (item.Movement > 0)
                        {
                            <span>🡱 value increased by @State.Currency.ToPriceString(item.Movement)</span>
                        }
                        else
                        {
                            <span>🡳 value dropped by @State.Currency.ToPriceString(item.Movement)</span>
                        }
                    </TableCell>
                    <TableCell Class="@GetItemClass(item)">
                        <span>about @((DateTimeOffset.Now - item.Timestamp).ToDurationString()) ago</span>
                    </TableCell>
                </TableRow>
                }
            </TableBody>
        </Table>
    </Paper>
}

@code {

    [Parameter]
    public IEnumerable<ProfileInventoryActivityDTO> Activity { get; set; }

    private string GetItemClass(ProfileInventoryActivityDTO item)
    {
        if (item.Movement > 0)
        {
            return "Text-Success";
        }
        if (item.Movement < 0)
        {
            return "Text-Error";
        }
        return null;
    }

}
