@namespace SCMM.Web.Client.Pages.Steam.Inventory
@using SCMM.Web.Shared.Domain.DTOs.MarketItems;
@using SCMM.Web.Shared.Domain.DTOs
@using SCMM.Web.Shared
@inherits ComponentBase

<div style=" display: flex; align-items: center; align-content: center; padding: 8px;">
    <Avatar Class="@IconClass" style="width: 64px; height: 64px; display:flex">
        <AttachMoneyIcon Style="width:48px;height:48px" />
    </Avatar>
    <div style="display: inline-block; padding: 0px 16px;">
        <Typography Color="@Color.TextSecondary"
                    Variant="@TypographyVariant.Body2">
            @Title
        </Typography>
        <Typography Variant="@TypographyVariant.H6">
            @Currency.ToPriceString(Value)
        </Typography>
        @if (Last24hrMovement != 0)
        {
            <div>
                <ArrowDownwardIcon />
                <Typography Variant="@TypographyVariant.Body2">
                    @Last24hrMovement %
                </Typography>
                <Typography Variant="@TypographyVariant.Caption">
                    Since yesterday
                </Typography>
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string IconClass { get; set; }

    [Parameter]
    public CurrencyDTO Currency { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public int Last24hrMovement { get; set; }

}
