@namespace SCMM.Web.Client.Pages.Steam.Inventory
@using SCMM.Web.Shared.Domain.DTOs.InventoryItems;
@inherits ComponentBase

<style>

    .Item-Summary-Root {
        display: inline-flex;
    }

    .Item-Summary-Body {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 104px;
        min-height: 128px;
        margin: 8px;
        border-radius: 3px;
        background-color: var(--theme-palette-background-paper, #fff);
    }
    
    .Item-Summary-Body > p {
        text-align: center;
    }

    .Item-Summary-Body:hover {
        background-color: #666666;
        cursor: pointer;
    }

    .Item-Summary-Root img {
        margin: calc(var(--theme-spacing, 6) * 2px);
        width: 72px;
        height: 72px;
    }

    .Item-Summary-Badge-Top {
        margin: calc(var(--theme-spacing, 6) * 2px);
    }
    
    .Item-Summary-Badge-Flags > .Badge-Badge {
        color: var(--theme-palette-primary-contrast-text, #fff);
        background-color: #90caf9;
    }
    
    .Item-Summary-Badge-Flags > .Badge-Badge i {
        margin: 2px;
    }

    .Item-Summary-Badge > .Badge-Badge {        
        transform: scale(1) translate(0%, 0%);
    }
    
    .Item-Summary-Badge > .Badge-Invisible {        
        transform: scale(0);
    }
    
    .Item-Summary-Badge img {
        margin: 0px;
    }

</style>

<div style="padding:8px">
    @foreach (var item in Items)
    {
        <InventoryItemsSummaryItem SteamId="@SteamId" Item="@item" ProfileName="@ProfileName" ProfileIsMe="@ProfileIsMe" ReadOnly="@ReadOnly" />
    }
</div>

@code {
    
    [Parameter]
    public string SteamId { get; set; }
    
    [Parameter]
    public IEnumerable<ProfileInventoryItemSummaryDTO> Items { get; set; }
    
    [Parameter]
    public string ProfileName { get; set; }

    [Parameter]
    public bool ProfileIsMe { get; set; }

    [Parameter]
    public bool ReadOnly { get; set; }

}
