
<div @attributes="AdditionalAttributes">
    @if (IsInRole(SCMM.Shared.Data.Models.Roles.Donator))
    {
        <MudChip T="string" Size="MudBlazor.Size.Small" Icon="fas fa-fw fa-crown" Text="@SCMM.Shared.Data.Models.Roles.Donator" Variant="MudBlazor.Variant.Text"
                 Class="mud-chip-outlined" Style="border-color: gold; color: gold;" />
    }
    @if (IsInRole(SCMM.Shared.Data.Models.Roles.VIP))
    {
        <MudChip T="string" Size="MudBlazor.Size.Small" Icon="fas fa-fw fa-star" Text="@SCMM.Shared.Data.Models.Roles.VIP" Variant="MudBlazor.Variant.Text"
                 Class="mud-chip-outlined" Style="border-color: gold; color: gold;" />
    }
    @if (IsInRole(SCMM.Shared.Data.Models.Roles.Creator))
    {
        <MudChip T="string" Size="MudBlazor.Size.Small" Icon="fas fa-fw fa-paint-roller" Text="@SCMM.Shared.Data.Models.Roles.Creator" Variant="MudBlazor.Variant.Text"
                 Class="mud-chip-outlined" Style="border-color: #81c784; color: #81c784;" />
    }
    @if (IsInRole(SCMM.Shared.Data.Models.Roles.Contributor))
    {
        <MudChip T="string" Size="MudBlazor.Size.Small" Icon="fas fa-fw fa-user" Text="@SCMM.Shared.Data.Models.Roles.Contributor" Variant="MudBlazor.Variant.Text" 
                 Class="mud-chip-outlined" Color="MudBlazor.Color.Secondary" />
    }
    @if (IsInRole(SCMM.Shared.Data.Models.Roles.Administrator))
    {
        <MudChip T="string" Size="MudBlazor.Size.Small" Icon="fas fa-fw fa-user" Text="@SCMM.Shared.Data.Models.Roles.Administrator" Variant="MudBlazor.Variant.Text" 
                 Class="mud-chip-outlined" Color="MudBlazor.Color.Secondary" />
    }
</div>

@code {
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }

    [Parameter]
    public IEnumerable<string> Roles { get; set; }

    public bool IsInRole(string role)
    {
        return Roles?.Any(x => String.Equals(x, role, StringComparison.OrdinalIgnoreCase)) == true;
    }

}
