@namespace SCMM.Web.Client.Shared.Component.Layout
@inherits MainLayoutComponent

<Component
    RootRef="@RootRef"
    Tag="@Component"
    Class="@_Class"
    Style="@_Style"
    @attributes="Attributes">
    <Topbar
        Class="@TopbarClass"
        Style="@TopbarStyle"
        OnSidebarToggle="@HandleSidebarToggle">
        <LogoContent>
            @LogoContent
        </LogoContent>
        <ChildContent>
            @TitleContent
        </ChildContent>
        <ActionsContent>
            @ActionsContent
        </ActionsContent>
    </Topbar>
    <Sidebar
        Class="@SidebarClass"
        Style="@SidebarStyle"
        OnClose="@HandleSidebarClose"
        Open="@SidebarOpen"
        Variant="@SidebarVariant"
        OnClick="@HandleSidebarClick">
        <div class="MainLayout-Sidebar-Content">
            @SidebarContent
        </div>
        <div class="MainLayout-Sidebar-Footer">
            @FooterContent
        </div>
    </Sidebar>
    <main
        class="@_ContentClass"
        style="@_ContentStyle">
        <div class="MainLayout-Content-Body">
            @BodyContent
        </div>
    </main>
</Component>
