@namespace SCMM.Web.Client.Shared.Component.Layout
@inject AppState State

<style>

    .Profile-Roles {
        text-align: center;
    }

    .Profile-Role {
        padding: 0px 4px;
    }

    .Profile-Role-Creator {
        color: #81c784;
    }

    .Profile-Role-Donator {
        color: gold;
    }

    .Profile-Role-VIP {
        color: gold;
    }

</style>

<Typography class="Profile-Roles" Variant="@TypographyVariant.Body2">
    @if (State.IsInRole(Roles.Creator))
    {
        <Chip Size="@Size.Small" Variant="@ChipVariant.Outlined" class="Profile-Role Profile-Role-Creator">
            <IconContent>
                <i class="fas fa-fw fa-paint-brush"></i>
            </IconContent>
            <LabelContent>
                <span>@Roles.Creator</span>
            </LabelContent>
        </Chip>
    }
    @if (State.IsInRole(Roles.Donator))
    {
        <Chip Size="@Size.Small" Variant="@ChipVariant.Outlined" class="Profile-Role Profile-Role-Donator">
            <IconContent>
                <i class="fas fa-fw fa-crown"></i>
            </IconContent>
            <LabelContent>
                <span>@Roles.Donator</span>
            </LabelContent>
        </Chip>
    }
    @if (State.IsInRole(Roles.VIP))
    {
        <Chip Size="@Size.Small" Variant="@ChipVariant.Outlined" class="Profile-Role Profile-Role-VIP">
            <IconContent>
                <i class="fas fa-fw fa-star"></i>
            </IconContent>
            <LabelContent>
                <span>@Roles.VIP</span>
            </LabelContent>
        </Chip>
    }
</Typography>
