@page "/about"
@using SCMM.Web.Shared.Domain.DTOs.Profiles;
@inject ILogger<About> Logger
@inject HttpClient Http
<Title Value="About" />

<style>

    .Typography-H5 {
        margin-top: 16px;
    }

    .Donators-Root {
        padding-left: 24px;
    }

    .Donators li:nth-child(1) 
    {
        color: gold;
    }
    
    .Donators li:nth-child(2) 
    {
        color: silver;
    }
    
    .Donators li:nth-child(3) 
    {
        color: #cd7f32;
    }

    .Donator {
        display: flex;
        align-content: center;
        align-items: center;
    }

    .Donator > img {
        max-width: 24px;
        max-height: 24px
    }

    .Donator > span {
        margin: 4px 8px;
        font-weight: bold;
    }

</style>

<Grid Container Spacing="@Spacing.Four">
    <Grid Item ExtraSmall="@GridSize.Twelve" ExtraLarge="@GridSize.Six">
        <Grid Container>
            <Grid Item ExtraSmall="@GridSize.Twelve">
                <Typography Variant="@TypographyVariant.H5" Color="@Color.Primary" GutterBottom>
                    <i class="fas fa-fw fa-info-circle"></i> About
                </Typography>
                <Typography Variant="@TypographyVariant.Body1" GutterBottom>
                    <span>SCMM is a website created out of the desire to track Steam inventory performance against the community market.</span><br />
                    <span>The community market has a wealth of useful infomation, but a very minimalistic user interface. This website aims to build a series of helpful tools based around that information, focusing primarily on marketplace trading and monitoring.</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body1" GutterBottom>
                    <span>This tool is still under development and may change (or be removed) without notice.</span><br />
                    <span>I make no claims that the information provided here is accurate, so use it at your own risk. I'm not responsible for what you do with this information.</span>
                </Typography>
            </Grid>
            <Grid Item ExtraSmall="@GridSize.Twelve">
                <Typography Variant="@TypographyVariant.H5" Color="@Color.Primary" GutterBottom>
                    <i class="fas fa-fw fa-question-circle"></i>  Frequently Asked Questions
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <i class="fas fa-fw fa-question-circle"></i>
                    <span>Why is the website so slow?</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <span>This website is built using <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a>, a fairly new web technology that is not as mature and optimised as a traditional JavaScript based website.</span><br/>
                    <span><a href="https://github.com/dotnet/aspnetcore/issues/5466" target="_blank">Performance will improve</a> over time as the technology matures.</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <i class="fas fa-fw fa-question-circle"></i>
                    <span>Why are some of the menu options disabled?</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <span>These features aren't finished yet. They'll be enabled in a future update, so stay tuned.</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <i class="fas fa-fw fa-question-circle"></i>
                    <span>When will the next update be released?</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <span>I'm not commited to a release schedule as I work on this in my free time (which varies alot). If you want to follow developments, I post informal progress updates from time-to-time in the <a href="https://discord.gg/CRMf95Z" target="_blank">OMIGHTY YouTube</a> Discord.</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <i class="fas fa-fw fa-question-circle"></i>
                    <span>I have a suggestion/idea/bug, where should I post it?</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <span>All feedback is appreicated, drop me a message on Discord.</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <i class="fas fa-fw fa-question-circle"></i>
                    <span>I want to help with this project, how do I get involved?</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <span>At this time I'm not actively looking for any help, the project is still very early-days and the development environment isn't setup for collaboration yet.</span><br/>
                    <span>If you are convinced you have something to contribute, contact me on Discord.</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <i class="fas fa-fw fa-question-circle"></i>
                    <span>How do I get in contact with you?</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <span>Discord: Bipolar Penguin#8838</span>
                </Typography>
            </Grid>
            <Grid Item ExtraSmall="@GridSize.Twelve">
                <Typography Variant="@TypographyVariant.H5" Color="@Color.Primary" GutterBottom>
                    <i class="fas fa-fw fa-award"></i> Acknowledgements
                </Typography>
                <Typography Variant="@TypographyVariant.Body1" Style="padding-left:24px" GutterBottom>
                    <ul>
                        <li><a href="https://steamcommunity.com/" target="_blank">Steam Community</a> and <a href="https://partner.steamgames.com/doc/webapi" target="_blank">Steam WebAPI</a> for providing the source data</li>
                        <li><a href="https://fontawesome.com/" target="_blank">Font Awesome</a> and <a href="https://game-icons.net/" target="_blank">game-icons.net</a> for providing various icons</li>
                        <li><a href="https://discord.gg/CRMf95Z" target="_blank">OMIGHTY Discord Community</a> for their suggestions and feedback</li>
                    </ul>
                </Typography>
                @if(Donators == null)
                {
                    <Loading Message="Loading donator list..." />
                }
                else if (Donators.Any())
                {
                    <Typography Variant="@TypographyVariant.Body1" GutterBottom>
                        Special thanks to the following people for their generous support towards this project:
                    </Typography>
                    <Typography Class="Donators-Root" Variant="@TypographyVariant.Body1" Color="@Color.TextPrimary" GutterBottom>
                        <ul Class="Donators">
                            @foreach (var donator in Donators)
                            {
                                <li class="Donator">
                                    <img src="@donator.AvatarUrl" />
                                    <span>@donator.Name</span>
                                    @if (Donators.Take(3).Contains(donator))
                                    {
                                        <i class="fas fa-fw fa-trophy"></i>
                                    }
                                </li>
                            }
                        </ul>
                    </Typography>
                }
            </Grid>
            <Grid Item ExtraSmall="@GridSize.Twelve">
                <Typography Variant="@TypographyVariant.H5" Color="@Color.Primary" GutterBottom>
                    <i class="fas fa-fw fa-book"></i> API Documentation
                </Typography>
                <Typography Variant="@TypographyVariant.Body1" GutterBottom>
                    <span>The SCMM API is open to everyone, free and unrestricted (although this may change in the future).</span><br />
                </Typography>
                <Typography Variant="@TypographyVariant.Body1" Color="@Color.TextSecondary" GutterBottom>
                    <i class="fas fa-fw fa-arrow-right"></i>
                    <span><a href="/docs" target="_blank">View API Documentation</a></span>
                </Typography>
            </Grid>
            <Grid Item ExtraSmall="@GridSize.Twelve">
                <Typography Variant="@TypographyVariant.H5" Color="@Color.Primary" GutterBottom>
                    <i class="fab fa-fw fa-discord"></i> Discord Bot
                </Typography>
                <Typography Variant="@TypographyVariant.Body1" GutterBottom>
                    <span>The SCMM Discord Bot can join your Discord community to provide tools and alerts from the Steam community marketplace.</span><br />
                </Typography>
                <Typography Variant="@TypographyVariant.Body1" Color="@Color.TextSecondary" GutterBottom>
                    <i class="fas fa-fw fa-arrow-right"></i>
                    <span><a href="https://discord.com/api/oauth2/authorize?client_id=761034518424715264&permissions=2048&scope=bot" target="_blank">Invite SCMM to your Discord community</a></span>
                </Typography>
            </Grid>
        </Grid>
    </Grid>
    <Grid Item ExtraSmall="@GridSize.Twelve" ExtraLarge="@GridSize.Six">
        <Grid Container>
            <Grid Item ExtraSmall="@GridSize.Twelve">
                <Typography Variant="@TypographyVariant.H5" Color="@Color.Primary" GutterBottom>
                    <i class="fas fa-fw fa-list-alt"></i>  Change History
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <span>v0.9 (28/02/2021)</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <ul>
                        <li>Added Discord command <code>>help</code></li>
                        <li>Discord bot status message shows remaining item store time</li>
                        <li>Discord bot posts a welcome message when joining new server</li>
                        <li>Discord bot resolves DiscordId's to SteamId's (if the user has registered their account)</li>
                        <li>Discord commands show their progress with a series of edited messages (reduces perceived command lag)</li>
                        <li>Discord commands have short-hand alias' (e.g. "inventory" => "inv")</li>
                        <li>Discord server config commands will use the closest value if spelt incorrectly</li>
                        <li>Discord servers can be tagged as VIP servers</li>
                        <li>Added more detailed Web API documentation</li>
                        <li>Added dark theme to Web API documentation viewer</li>
                        <li>Added new market statistics dashboard showing accepted skin creators</li>
                        <li>Removed some old market statistic dashboards that were not reliable</li>
                        <li>Market listing page now sorts by highest 24hr sales volume by default</li>
                        <li>Item store remaining time countdown is now more granular (shows minutes)</li>
                        <li>Item store remaining time countdown will show exactly how long the store is overdue by rather than "due anytime now"</li>
                        <li>Internal refactoring for command/query processors</li>
                        <li>Internal refactoring to support partial item store updates (e.g. Valentines 2021 update)</li>
                        <li>Fixed bug where inventory updates may incorrectly duplicate user or inventory data</li>
                        <li>Fixed bug where Discord server data may not be deleted when the bot is removed from the server</li>
                        <li>Fixed bug where you couldn't search for market items containing spaces</li>
                        <li>Fixed bug where profile inventory would not load for some countries/currencies</li>
                        <li>Fixed bug where profile inventory investment table prices would not show in the user local currency</li>
                        <li>Fixed bug where profile inventory investment purchase prices were being parsed incorrectly</li>
                        <li>Fixed bug where Discord "new store" and "new market listing" notification moasic images would not generate</li>
                        <li>Fixed bug where Discord commands wouldn't accept Steam profile URLs if the user had a custom profle URL in Steam</li>
                        <li>Fixed bug where Discord server config was not being persisted in some cases</li>
                        <li>Fixed bug where profile inventory mosaic images would not generate</li>
                        <li>Fixed bug where prices shown in UI won't update immediately after changing currencies</li>
                        <li>Fixed bug with ARS currency parsing</li>
                        <li>Fixed bug with RUB currency parsing</li>
                    </ul>
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <span>v0.8 (24/11/2020)</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <ul>
                        <li>Upgraded to .NET 5.0 🥳</li>
                    </ul>
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <span>v0.7 (11/11/2020)</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <ul>
                        <li>Item store overhaulled to support multiple stores and a more responsive UI</li>
                        <li>Item store can now show items created by Facepunch (that don't have a workshop file)</li>
                        <li>Item store can now show market listing details for store items that are already in the marketplace</li>
                        <li>Item store has a new "marketplace performance" graph that shows a comparision between store and market prices for each item</li>
                        <li>Marketplace browser UI is now card-based to be more responsive on smaller devices (removed the table)</li>
                        <li>Marketplace items can be right-clicked to add/remove them from your personal wish-list</li>
                        <li>Inventory items can now be right-clicked to flag items as "want to sell" and "want to trade"</li>
                        <li>Inventory page has a new "wish list" tab that shows all market items you "want to buy"</li>
                        <li>Inventory page now shows all inventory items (even if they aren't marketable yet)</li>
                        <li>Added Discord command handler support</li>
                        <li>Added Discord command <code>>inventory [steamId] [currencyName]</code></li>
                        <li>Added Discord command <code>>trade [steamId]</code></li>
                        <li>Added Discord command <code>>store remaining</code></li>
                        <li>Added Discord command <code>>config names|get|set|add|remove|list [name]</code></li>
                        <li>Added Discord guild configuration persistence (currencies, alerts, etc) </li>
                        <li>Discord notification for "Store was updated" now shows an item moasic image</li>
                    </ul>
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <span>v0.6 (17/10/2020)</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <ul>
                        <li>Anonymous users can now browse the site without the language/currency/steamId "nagg screen"</li>
                        <li>Added Steam OpenID authentication support</li>
                        <li>Added profile flairs</li>
                        <li>Steam profile picture and name is now updated on inventory sync</li>
                        <li>Store minimum sales metric is now calculated based on "top sellers" total revenue, not total sales</li>
                        <li>Profile inventory is now auto-synced if older than 6 hours</li>
                        <li>Added Discord integration via a bot</li>
                        <li>Added Discord message broadcast when new workshop items have been accepted</li>
                        <li>Added Discord message broadcast when new store items have been added</li>
                        <li>Added Discord message broadcast when new market items have be added</li>
                        <li>Added market statistics "profitable flips" dashboard</li>
                        <li>Added market statictics "sales count" dashboard</li>
                        <li>Added market statistics "most starved" dashboard</li>
                        <li>Removed "most wanted" market statistics dashboard</li>
                        <li>Market statistcis supply/demand metrics have been refactored</li>
                        <li>Market statistics now exclude the "free"/"default" items from dashboards by default</li>
                        <li>The list of donators shown on the about page is now dynamically loaded from the database</li>
                        <li>Added Web Job to automatically restart app services and refresh auth tokens regularly</li>
                        <li>Added Web API auto-documentation (via Swagger)</li>
                    </ul>
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <span>v0.5 (14/09/2020)</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <ul>
                        <li>Added navigation buttons for account settings and logging out</li>
                        <li>Added "most recent" market statistic dashboards</li>
                        <li>Added "good time to buy" and "good time to sell" market statistic dashboards</li>
                        <li>Added "top sellers" sales info to the item store page</li>
                        <li>Added a high-level breakdown of store item sales revenue (total, steam/publisher, skin author)</li>
                        <li>Added a item filter to the profile inventory page</li>
                        <li>Added a pie chart showing inventory value breakdown to the profile "market performance" tab</li>
                        <li>Added a list of market item value movements to the profile "market activity" tab</li>
                        <li>Profile inventory page can now check other account inventories without having to log out/in each time</li>
                        <li>Profile inventory must now be synced manually after the first load (improves performance when viewing inventory subsequent times)</li>
                        <li>Profile inventory "return on investment" buy price is read-only unless you are logged in as the owning profile</li>
                        <li>Profile inventory "return on investment" tab now sorts by highest RoI% first</li>
                        <li>Profile inventory value now correctly calculates item stacks</li>
                        <li>Profile inventory price parsing now works for currencies that use "," as a decimal separator (i.e. Euro)</li>
                        <li>Return on investment percentage is now scaled from 0 (rather than 100)</li>
                        <li>Store item "market position" calculation now correctly calculates in all currencies</li>
                        <li>Various accuracy improvements for Steam API background jobs (market data calculation)</li>
                        <li>Various performance improvements for Steam API background jobs (market data is updated more frequently)</li>
                        <li>Various logging and error handling improvements to assist with troubleshooting</li>
                        <li>Various responsive UI improvements for smaller displays</li>
                        <li>Various UI tweaks and bug fixes</li>
                    </ul>
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <span>v0.4 (26/07/2020)</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <ul>
                        <li>Redesigned the profile state management for improved maintenance and simplicity</li>
                        <li>Added navigation option for community help on Discord</li>
                        <li>Various UI tweaks and bug fixes</li>
                    </ul>
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <span>v0.3 (19/07/2020)</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <ul>
                        <li>Redesigned the profile inventory value tool user interface (switched to tab layout)</li>
                        <li>Added item summary info to the profile inventory value tool</li>
                        <li>Added market activity info to the profile inventory value tool</li>
                        <li>Added client/server version info to the navigation sidebar</li>
                        <li>Various UI tweaks and bug fixes</li>
                    </ul>
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <span>v0.2 (05/07/2020)</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <ul>
                        <li>Added support for changing currencies</li>
                        <li>Added a (very basic) profile inventory value tool</li>
                        <li>Added a page preload animation and improved performance (marginally)</li>
                        <li>Added a sales revenue graph to item store page</li>
                        <li>Added relevent videos from TGG and OMIGHTY to item store page</li>
                        <li>Added more relevent info to market listing page search table</li>
                        <li>Improved accuracy of dashboard metrics (supply/demand/stonking/crashing/etc)</li>
                        <li>Improved accurancy of market value calculations</li>
                        <li>Improved database performance and reduced bloat from histortic data</li>
                        <li>Various UI tweaks and bug fixes</li>
                    </ul>
                </Typography>
                <Typography Variant="@TypographyVariant.Body1">
                    <span>v0.1 (21/06/2020)</span>
                </Typography>
                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Style="padding-left:24px" GutterBottom>
                    <ul>
                        <li>Initial release</li>
                    </ul>
                </Typography>
            </Grid>
        </Grid>
    </Grid>
</Grid>

@code {

    private IList<ProfileDTO> Donators { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Donators = await Http.GetFromJsonAsync<ProfileDTO[]>($"api/profile/donators");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, $"Error listing donators");
        }
    }

}
