@namespace SCMM.Web.Client.Shared.Component

<Typography Variant="@TypographyVariant.H6">
    <span>$ NZD</span>
    <IconButton OnClick="@OnOpen" RootRef="@ButtonRef">
        <ArrowDropDownIcon />
    </IconButton>
    <Menu Open="@Open"
        AnchorRef="@ButtonRef"
        OnClose="@HandleClose"
        PaperStyle="width: 200px; max-height: 400px;">
        @foreach(var option in Options)
        {
            <MenuItem
                @key="@option"
                Selected="@(option == Currency)"
                OnClick="@HandleClose"
                disabled="@(option != Currency)">
                @option
            </MenuItem>
        }
    </Menu>
</Typography>

@code
{
    [Parameter]
    public string Currency { get; set; }

    private static readonly string[] Options =  {
        "USD",
        "GBP",
        "EUR",
        "CHF",
        "RUB",
        "PLN",
        "BRL",
        "JPY",
        "NOK",
        "IDR",
        "MYR",
        "PHP",
        "SGD",
        "THB",
        "VND",
        "KRW",
        "TRY",
        "UAH",
        "MXN",
        "CAD",
        "AUD",
        "NZD",
        "CNY",
        "INR",
        "CLP",
        "PEN",
        "COP",
        "ZAR",
        "HKD",
        "TWD",
        "SAR",
        "AED",
        "ARS",
        "ILS",
        "KZT",
        "KWD",
        "QAR",
        "CRC",
        "UYU",
    };

    private bool Open { set; get; }

    private IReference ButtonRef { set; get; } = new Reference();

    private void HandleClose(EventArgs args)
    {
        Open = false;
        StateHasChanged();
    }

    private void HandleClose(MenuCloseReason reason)
    {
        Open = false;
        StateHasChanged();
    }

    private void OnOpen()
    {
        Open = true;
        StateHasChanged();
    }
}