@namespace SCMM.Web.Client.Shared.Component
@using SCMM.Web.Shared.Domain.DTOs.Currencies;

@if (State.CurrencyLocal != null && State.Currencies != null)
{
    <Typography Variant="@TypographyVariant.H6">
        <span>@State.CurrencyLocal.PrefixText @State.CurrencyLocal.Name</span>
        <IconButton OnClick="@OnOpen" RootRef="@ButtonRef">
            <ArrowDropDownIcon />
        </IconButton>
        <Menu Open="@Open"
              AnchorRef="@ButtonRef"
              OnClose="@HandleClose"
              PaperStyle="width: 200px; max-height: 400px;">
            @foreach (var currency in State.Currencies)
            {
                <MenuItem @key="@currency.SteamId"
                          Selected="@(currency.SteamId == State.CurrencyLocal.SteamId)"
                          OnClick="@(() => HandleCurrencyChange(currency))">
                    <span style="min-width:30%">@currency.PrefixText</span> 
                    <span>@currency.Name</span>
                </MenuItem>
            }
        </Menu>
    </Typography>
}

@code
{ 
    [CascadingParameter]
    public AppState State { get; set; }

    private bool Open { set; get; }

    private IReference ButtonRef { set; get; } = new Reference();

    protected override void OnInitialized()
    {
        State.OnCurrenciesChanged += (s, c) =>
        {
            StateHasChanged();
        };
    }

    private async Task HandleCurrencyChange(CurrencyDetailsDTO currency)
    {
        await State.SetLocalCurrency(currency);
        Open = false;
        StateHasChanged();
    }

    private void HandleClose(MenuCloseReason reason)
    {
        Open = false;
        StateHasChanged();
    }

    private void OnOpen()
    {
        Open = true;
        StateHasChanged();
    }

}
