@namespace SCMM.Web.Client.Shared.Component

<Dialog Open="@Open" OnClose="@DonationClose">
    <DialogTitle>
        Donate
    </DialogTitle>
    <DialogContent>
        <DialogContentText>
            <p>This tool is free for everybody, but does cost me money to keep it running.</p>
            <p>If you found it useful and would like to support future development efforts, consider donating. Every bit helps and is really appreicated.</p>
        </DialogContentText>
        <Grid Container Spacing="@Spacing.Six" style="margin:0px; width:100%;">
            <Grid Item ExtraSmall="@GridSize.Six" AlignItems="@AlignItems.Center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_donations" />
                    <input type="hidden" name="business" value="P29WU38RQJM8J" />
                    <input type="hidden" name="currency_code" value="NZD" />
                    <input type="image" name="submit" src="/images/donate-paypal.png" border="0" style="width:100%" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal" />
                </form>
            </Grid>
            <Grid Item ExtraSmall="@GridSize.Six" AlignItems="@AlignItems.Center">
                <a href="https://steamcommunity.com/tradeoffer/new/?partner=121835790&token=AjBXyQhL">
                    <img src="/images/donate-steam.png" style="width:100%" title="Steam - Send me a gift!" alt="Donate with Steam" />
                </a>
            </Grid>
        </Grid>
    </DialogContent>
</Dialog>

@code {

    [Parameter]
    public bool Open { get; set; }

    [Parameter]
    public EventCallback<bool> OpenChanged { get; set; }

    private void DonationOpen()
    {
        Open = true;
        StateHasChanged();
        OpenChanged.InvokeAsync(Open);
    }

    private void DonationClose()
    {
        Open = false;
        StateHasChanged();
        OpenChanged.InvokeAsync(Open);
    }

}
