@inherits ResponsiveDialog
@inject AppState State
@inject ExternalNavigationManager ExternalNavigationManager

<MudDialog>
    <TitleContent>
        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">Donate and show your support</MudText>
    </TitleContent>
    <DialogContent>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom="true">
            <span>This website is free to use, but isn't free to keep running.</span>
        </MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary">
            <span>If you found it useful and would like to do something to say thanks, any of the below really helps out.</span>
        </MudText>
        <MudList Clickable="true" DisablePadding="true" DisableGutters="true" Class="my-2 mx-n6">
            <MudListItem OnClick="@(() => ExternalNavigationManager.NavigateToNewTabAsync("https://steamcommunity.com/tradeoffer/new/?partner=121835790&token=AjBXyQhL"))">
                <div class="d-flex align-center justify-start hover-zoom">
                    <img src="/images/donate-steam.png" alt="Donate with Steam" class="mx-6" style="width:3em; height:3em" />
                    <MudText Typo="MudBlazor.Typo.subtitle2" Color="MudBlazor.Color.Default" Class="pr-4">
                        <span>Steam</span><br />
                        <small class="mud-secondary-text">Send me a skin trade on Steam</small>
                    </MudText>
                </div>
            </MudListItem>
            @foreach (var marketType in Enum.GetValues<MarketType>().Where(x => x.IsEnabled() && x.IsAppSupported(State.AppId) && !String.IsNullOrEmpty(x.GetAffiliateUrl())))
            {
                <MudListItem OnClick="@(() => ExternalNavigationManager.NavigateToNewTabAsync(@marketType.GetAffiliateUrl()))">
                    <div class="d-flex align-center justify-start hover-zoom">
                        <img src="@($"/images/app/{State.App.Id}/markets/{marketType.ToString().ToLower()}.png")" alt="@marketType.GetDisplayName()" title="@marketType.GetDisplayName()" class="mx-6" style="width:3em; height:3em" />
                        <MudText Typo="MudBlazor.Typo.subtitle2" Color="MudBlazor.Color.Default" Class="pr-4">
                            <span>@marketType.GetDisplayName()</span><br/>
                            <small class="mud-secondary-text">Click to use my affiliate link. It gives me a small kick back whenever you buy skins on @marketType.GetDisplayName()</small>
                        </MudText>
                    </div>
                </MudListItem>
            }
        </MudList>
    </DialogContent>
</MudDialog>

@code {

    protected override void OnConfigure(ResponsiveDialogOptions options)
    {
        options.FullscreenBreakpoint = MudBlazor.Breakpoint.Xs;
        options.MaxWidth = MudBlazor.MaxWidth.ExtraSmall;
        options.CloseButton = true;
    }
    
    protected override bool ShouldRender() => false;

}
