@using SCMM.Steam.Data.Models.Community.Requests.Html
@using SCMM.Web.Data.Models.UI.Item
@inject IDialogService Dialogs
@inject ExternalNavigationManager ExternalNavigationManager
@inject AppState State

<div @attributes="AdditionalAttributes">
    <div class="item mud-paper mud-paper-outlined pa-1" style="@GetBackgroundStyles()">
        @if (Item != null)
        {
            <div class="icon clickable hover-zoom hover-zoom-extra" @onclick="@(() => OnItemClicked())">
                <MudTooltip>
                    <TooltipContent>
                        <strong>@Item.Name</strong><br/>
                        <span>(@Item.ItemType)</span>
					</TooltipContent>
                    <ChildContent>
                        <img src="@Item.IconUrl" class="full-width" />
					</ChildContent>
			    </MudTooltip>
            </div>
        }
        else if (!String.IsNullOrEmpty(ItemType))
        {
            <div class="icon-missing">
                <MudTooltip>
                    <TooltipContent>
                        <span>The collection does not have a @ItemType yet</span>
					</TooltipContent>
                    <ChildContent>
                        <img src="@($"/images/rust/items/{ItemType.ToRustItemShortName()}.png")" class="full-width" />
					</ChildContent>
			    </MudTooltip>
            </div>
        }
        else
        {
            <div class="item-empty"></div>
        }
    </div>
</div>

@code {
    
    [Parameter]
    public ItemDescriptionDTO Item { get; set; }
    
    [Parameter]
    public string ItemType { get; set; }

    [Parameter]
    public bool? ItemIsAcquired { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; }

    private string GetBackgroundStyles()
    {
        if (Item != null && ItemIsAcquired != false)
        {
            return $"background-color: #1b5e2044";
        }
        else if (Item != null && ItemIsAcquired == false)
        {
            return $"background-color: #b71c1c44";
        }
        return null;
    }

    private void OnItemClicked()
    {
        ExternalNavigationManager.NavigateToItem(Item);
    }

}
