@using SCMM.Web.Client.Shared.Components.Items
@using SCMM.Web.Data.Models.UI.Item
@inherits ResponsiveDialog
@inject ILogger<ViewItemListDialog> Logger
@inject ISnackbar Snackbar
@inject HttpClient Http
@inject DocumentManager Document

<MudDialog>
    <TitleContent>
        <MudGrid>
            <MudItem xs="12" sm="6">
                <MudText Typo="MudBlazor.Typo.h6" Class="no-wrap">@ListName</MudText>
			</MudItem>
            <MudItem xs="12" sm="6">
                @if (List?.Items?.Any() == true)
                {
                    <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                        <MudTextField T="string" ValueChanged="@OnSearch" DebounceInterval="500" Placeholder="Filter items" FullWidth="true" Class="flex-grow-0 mt-n8"
                                      Adornment="Adornment.Start" AdornmentIcon="fas fa-fw fa-filter mr-2" IconSize="MudBlazor.Size.Small" />
					</MudHidden>
                    <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
                        <MudTextField T="string" ValueChanged="@OnSearch" DebounceInterval="500" Placeholder="Filter items" FullWidth="false" Class="flex-grow-0 mt-n4 mx-10"
                                      Adornment="Adornment.Start" AdornmentIcon="fas fa-fw fa-filter mr-2" IconSize="MudBlazor.Size.Small" />
					</MudHidden>
                }
			</MudItem>
		</MudGrid>
    </TitleContent>
    <DialogContent>
        @if (List?.Items == null)
        {
            <Loading Message="Loading item list..." Size="MudBlazor.Size.Large" Typo="MudBlazor.Typo.h6" />
        } 
        else
        {
            <div class="py-4">
                <MudGrid>
                    @foreach (var item in GetFilteredAndSortedItems(List.Items))
                    {
                        <MudItem xs="6" sm="4" md="3" lg="2" xl="2">
                            <ItemDescriptionSummary Item="@item" Highlighted="@(item.Id == HighlightedItemId)" />
                        </MudItem>
                    }
                </MudGrid>
            </div>
        }
    </DialogContent>
</MudDialog>

@code {

    [Parameter]
    public string ListName { get; set; }
    
    [Parameter]
    public string ListUrl { get; set; }

    [Parameter]
    public ulong HighlightedItemId { get; set; }
    
    [Parameter]
    public bool SortByValue { get; set; }

    private PaginatedResult<ItemDescriptionWithPriceDTO> List { get; set; }
    
    private string Filter { get; set; }
    
    protected override void OnConfigure(ResponsiveDialogOptions options)
    {
        options.FullscreenBreakpoint = MudBlazor.Breakpoint.Sm;
        options.MaxWidth = MudBlazor.MaxWidth.Large;
        options.FullWidth = true; // force item images to scale equally
        options.CloseButton = true;
    }
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        try
        {
            List = await Http.GetFromJsonWithDefaultsAsync<PaginatedResult<ItemDescriptionWithPriceDTO>>(ListUrl);
            Dialog.ForceRender();
            StateHasChanged();

            if (HighlightedItemId > 0)
            {
                Document.ScrollElementIntoView("highlighted", TimeSpan.FromSeconds(1));
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, $"Error loading the item list");
            Snackbar.Add($"Unable to load item list. {ex.Message}", MudBlazor.Severity.Error);
        }
    }
    
    private void OnSearch(string text)
    {
        Filter = text;
        StateHasChanged();
    }

    private IEnumerable<ItemDescriptionWithPriceDTO> GetFilteredAndSortedItems(IEnumerable<ItemDescriptionWithPriceDTO> items)
    {
        if (!String.IsNullOrEmpty(Filter))
        {
            items = items.Where(x => 
                x.Name.Contains(Filter, StringComparison.InvariantCultureIgnoreCase) ||
                x.ItemType.Contains(Filter, StringComparison.InvariantCultureIgnoreCase)
            );
        }
        if (SortByValue)
        {
            items = items.OrderBy(x => x.BuyNowPrice);
        }
        return items;
    }
}
