@page "/steam/store"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SCMM.Web.Shared.Domain.DTOs.Steam
@using SCMM.Web.Shared
@inject NavigationManager Navigation
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<style>

    .Chart-Container {
        padding: 16px;
    }

    .Buy-Button-Theme {
        --theme-palette-primary-main: #388e3c;
        --theme-palette-primary-current: #4caf50;
    }

    .View-Button-Theme {
        --theme-palette-primary-main: #2196f3;
        --theme-palette-primary-current: #42a5f5;
    }

</style>

<Grid Container Spacing="@Spacing.Four">
    <Grid Item ExtraSmall="@GridSize.True">
        @if (items == null)
        {
            <Typography>Loading...</Typography>
        }
        else
        {
            <Paper>
                <Table Narrow="true">
                    <TableBody>
                        @foreach (var item in items)
                        {
                            <TableRow>
                                <TableCell style="vertical-align: top">
                                    <img src="@item.Description.IconUrl" style="width:96px" />
                                </TableCell>
                                <TableCell style="vertical-align: top">
                                    <Typography Variant="@TypographyVariant.H6" GutterBottom="true">
                                        @item.Description.Name
                                        @if (items.First() == item)
                                        {
                                            <i class="fa fa-fw fa-award" style="color:gold"></i>
                                        }
                                        @if (items.Skip(1).First() == item)
                                        {
                                            <i class="fa fa-fw fa-award" style="color:silver"></i>
                                        }
                                        @if (items.Skip(2).First() == item)
                                        {
                                            <i class="fa fa-fw fa-award" style="color:chocolate"></i>
                                        }
                                    </Typography>
                                    <Typography Variant="@TypographyVariant.Body2">
                                        @foreach (var tag in item.Description.Tags)
                                        {
                                            <div class="Chip-Root">
                                                <span class="Chip-Label">
                                                    @tag.Value
                                                </span>
                                            </div>
                                        }
                                    </Typography>
                                </TableCell>
                                <TableCell style="vertical-align: top">
                                    <Typography Variant="@TypographyVariant.Subtitle1" GutterBottom="true">
                                        <i class="fa fa-fw fa-tag"></i>
                                        @item.Currency.ToPriceString(item.StorePrice)
                                    </Typography>
                                    <Typography Variant="@TypographyVariant.Body2">
                                        @if (item.MarketRankTotal > 0)
                                        {
                                            <small>There are <strong>@item.MarketRankPosition</strong> cheaper market items of this type (@item.MarketRankPosition/@item.MarketRankTotal).</small>
                                        }
                                    </Typography>
                                </TableCell>
                                <TableCell style="vertical-align: top">
                                    <Typography Variant="@TypographyVariant.Body1" NoWrap>
                                        <i class="fa fa-fw fa-user"></i>
                                        @item.Description.WorkshopFile.Subscriptions.ToQuantityString()
                                    </Typography>
                                    <Typography Variant="@TypographyVariant.Body1" NoWrap>
                                        <i class="fa fa-fw fa-eye"></i>
                                        @item.Description.WorkshopFile.Views.ToQuantityString()
                                    </Typography>
                                    <Typography Variant="@TypographyVariant.Body1" NoWrap>
                                        <i class="fa fa-fw fa-heart"></i>
                                        @item.Description.WorkshopFile.Favourited.ToQuantityString()
                                    </Typography>
                                </TableCell>
                                <TableCell style="vertical-align: top">
                                    <Typography GutterBottom="true" class="Buy-Button-Theme">
                                        <Button OnClick="@(() => BuyItem(item))" Variant="@ButtonVariant.Contained" Color="@Color.Primary">Buy</Button>
                                    </Typography>
                                    <Typography class="View-Button-Theme">
                                        <Button OnClick="@(() => ViewItem(item))" Variant="@ButtonVariant.Outlined" Color="@Color.Primary">View</Button>
                                    </Typography>
                                </TableCell>
                            </TableRow>
                        }
                    </TableBody>
                </Table>
            </Paper>
        }
        </Grid>
    @if (itemRankChart != null && itemRankHistoryChart != null)
    {
        <Grid Item ExtraSmall="@GridSize.True">
            <Grid Container>
                <Grid Item ExtraSmall="@GridSize.Twelve">
                    <Paper Class="Chart-Container">
                        <ChartJsBarChart @ref="itemRankChartJs" Config="@itemRankChart" />
                    </Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.Twelve">
                    <Paper Class="Chart-Container" Style="margin-top: 16px">
                        <ChartJsLineChart @ref="itemRankHistoryChartJs" Config="@itemRankHistoryChart" />
                    </Paper>
                </Grid>
            </Grid>
        </Grid>
    }
</Grid>

@code {

    private SteamStoreItemDTO[] items;
    private ChartJsBarChart itemRankChartJs;
    private ChartJsLineChart itemRankHistoryChartJs;
    private BarConfig itemRankChart;
    private LineConfig itemRankHistoryChart;


    protected override async Task OnInitializedAsync()
    {
        await RefreshItems();
        await RedrawItemRankChart();
        await RedrawItemRankHistoryChart();
    }

    private async Task BuyItem(SteamStoreItemDTO item)
    {
        string url = $"https://store.steampowered.com/itemstore/{item.App.SteamId}/detail/{item.SteamId}/";
        await JSRuntime.InvokeAsync<object>("open", url, "_blank");
    }

    private async Task ViewItem(SteamStoreItemDTO item)
    {
        string url = $"https://steamcommunity.com/sharedfiles/filedetails/?id={item.Description.WorkshopFile.SteamId}";
        await JSRuntime.InvokeAsync<object>("open", url, "_blank");
    }

    private async Task RefreshItems()
    {
        try
        {
            items = await Http.GetFromJsonAsync<SteamStoreItemDTO[]>($"SteamStoreItems");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task RedrawItemRankChart()
    {
        itemRankChart = new BarConfig
        {
            Options = new BarOptions
            {
                Legend = new Legend
                {
                    Display = true,
                    Labels = new LegendLabelConfiguration()
                    {
                        FontColor = "#ffffff"
                    }
                },
                Responsive = true,
                Tooltips = new Tooltips
                {
                    Enabled = true
                },
                Scales = new BarScales
                {
                    XAxes = new List<CartesianAxis>
                    {
                        new BarCategoryAxis
                        {
                            Ticks = new CategoryTicks()
                            {
                                Display = true,
                                FontColor = "#ffffff"
                            },
                            ScaleLabel = new ScaleLabel()
                            {
                                Display = true,
                                FontColor = "#ffffff"
                            },
                            GridLines = new GridLines
                            {
                                Display = true,
                                Color = "#e0e0e0"
                            }
                        }
                    },
                    YAxes = new List<CartesianAxis>
                    {
                        new BarLinearCartesianAxis
                        {
                            Ticks = new LinearCartesianTicks()
                            {
                                Display = true,
                                FontColor = "#ffffff"
                            },
                            ScaleLabel = new ScaleLabel()
                            {
                                Display = true,
                                FontColor = "#ffffff"
                            },
                            GridLines = new GridLines
                            {
                                Display = true,
                                Color = "#e0e0e0"
                            }
                        }
                    }
                }
            }
        };

        itemRankChart.Data.Labels.AddRange(
            items.Select(x => x.Description.Name).ToArray()
        );

        var itemSubscribers = new BarDataset<DoubleWrapper>
        {
            Label = "Total Subscribers",
            BackgroundColor = "#388e3c",
            BorderColor = "#1b5e20",
            BorderWidth = 1
        };
        itemSubscribers.AddRange(
            items.Select(x => (DoubleWrapper)x.Description.WorkshopFile.Subscriptions)
        );

        var itemViews = new BarDataset<DoubleWrapper>
        {
            Label = "Total Views",
            BackgroundColor = "#1976d2",
            BorderColor = "#0d47a1",
            BorderWidth = 1
        };
        itemViews.AddRange(
            items.Select(x => (DoubleWrapper) x.Description.WorkshopFile.Views)
        );

        itemRankChart.Data.Datasets.AddRange(new[] {
            itemSubscribers, itemViews
        });
    }

    private async Task RedrawItemRankHistoryChart()
    {
        var startOfWeek = items.FirstOrDefault()?.Description?.WorkshopFile?.AcceptedOn.UtcDateTime;
        if (startOfWeek == null)
        {
            return;
        }

        itemRankHistoryChart = new LineConfig
        {
            Options = new LineOptions
            {
                Legend = new Legend
                {
                    Display = true,
                    Labels = new LegendLabelConfiguration()
                    {
                        FontColor = "#ffffff"
                    }
                },
                Responsive = true,
                Tooltips = new Tooltips
                {
                    Enabled = true
                },
                Scales = new Scales
                {

                    xAxes = new List<CartesianAxis>
                    {
                        new CategoryAxis
                        {
                            Ticks = new CategoryTicks()
                            {
                                Display = true,
                                FontColor = "#ffffff"
                            },
                            ScaleLabel = new ScaleLabel()
                            {
                                Display = true,
                                FontColor = "#ffffff"
                            },
                            GridLines = new GridLines
                            {
                                Display = true,
                                Color = "#e0e0e0"
                            }
                        }
                    },
                    yAxes = new List<CartesianAxis>
                    {
                        new LinearCartesianAxis
                        {
                            Ticks = new LinearCartesianTicks()
                            {
                                Display = true,
                                FontColor = "#ffffff"
                            },
                            ScaleLabel = new ScaleLabel()
                            {
                                Display = true,
                                FontColor = "#ffffff"
                            },
                            GridLines = new GridLines
                            {
                                Display = true,
                                Color = "#e0e0e0"
                            }
                        }
                    }
                }
            }
        };

        itemRankHistoryChart.Data.Labels = GetSkinWeekDates(startOfWeek.Value)
            .Select(x => x.ToString("dd MMMM yyyy"))
            .ToList();

        foreach (var item in items)
        {
            var itemDataSet = new LineDataset<DoubleWrapper>
            {
                Label = item.Description.Name,
                BackgroundColor = GraphDataSetColours[Array.IndexOf(items, item)],
                BorderColor = GraphDataSetColours[Array.IndexOf(items, item)],
                BorderWidth = 5,
                Fill = false
            };
            itemDataSet.AddRange(
                GetItemSubscriptionDataset(item, startOfWeek.Value)
            );
            itemRankHistoryChart.Data.Datasets.Add(itemDataSet);
        }
    }

    IEnumerable<DateTime> GetSkinWeekDates(DateTime startOfWeek)
    {
        return new[] {
            startOfWeek.Date.AddDays(0),
            startOfWeek.Date.AddDays(1),
            startOfWeek.Date.AddDays(2),
            startOfWeek.Date.AddDays(3),
            startOfWeek.Date.AddDays(4),
            startOfWeek.Date.AddDays(5),
            startOfWeek.Date.AddDays(6),
            startOfWeek.Date.AddDays(7)
        };
    }

    IEnumerable<DoubleWrapper> GetItemSubscriptionDataset(SteamStoreItemDTO item, DateTime startOfWeek)
    {
        var dataSet = new List<DoubleWrapper>();
        if (item?.Description?.WorkshopFile?.SubscriptionsGraph?.Any() != true)
        {
            return dataSet;
        }

        var graphDates = GetSkinWeekDates(startOfWeek).Where(x => x < DateTime.UtcNow);
        foreach (var graphDate in graphDates)
        {
            var dataPoint = 0d;
            var dataKey = graphDate.Date.ToString("dd MMM yyyy");
            var keys = item.Description.WorkshopFile.SubscriptionsGraph.Keys.ToArray();
            if (item.Description.WorkshopFile.SubscriptionsGraph.ContainsKey(dataKey))
            {
                dataPoint = item.Description.WorkshopFile.SubscriptionsGraph[dataKey];
            }
            dataSet.Add(dataPoint);
        }
        return dataSet;
    }

    private string[] GraphDataSetColours = {
        "#2196F3",
        "#8BC34A",
        "#FF5722",
        "#E91E63",
        "#9C27B0",
        "#3F51B5",
        "#FF9800",
        "#FFEB3B",
        "#795548",
        "#00BCD4",
        "#607D8B"
    };

}
