@namespace SCMM.Web.Client.Pages.Steam.Inventory
@using SCMM.Web.Data.Models.Domain.InventoryItems;
@using SCMM.Steam.Data.Models.Enums;
@using SCMM.Web.Data.Models; 
@inherits ComponentBase
@inject ILogger<InventoryItemsSummaryItem> Logger
@inject IJSRuntime JSRuntime
@inject HttpClient Http

<div class="Item-Summary-Root">
    <div class="Item-Summary-Body" style="@GetItemStyles(Item)" @onclick="@((_) => OnItemClicked(Item))" title="@Item.Name">
        <Badge Class="Item-Summary-Badge Item-Summary-Badge-Flags Item-Summary-Badge-Top"
                Invisible="@(!Item.Flags.HasFlag(SteamProfileInventoryItemFlags.WantToSell) && !Item.Flags.HasFlag(SteamProfileInventoryItemFlags.WantToTrade))"
                Color="@Skclusive.Core.Component.Color.Custom"
                Horizontal="@Horizontal.Left"
                Vertical="@Vertical.Top">
            <BadgeContent>
                @if (Item.Flags.HasFlag(SteamProfileInventoryItemFlags.WantToSell))
                {
                    <i class="fas fa-hand-holding-usd" title="@((ProfileIsMe ? "You want" : $"{ProfileName} wants") + " to sell this")"/>
                }
                @if (Item.Flags.HasFlag(SteamProfileInventoryItemFlags.WantToTrade))
                {
                    <i class="fas fa-exchange-alt" title="@((ProfileIsMe ? "You're" : $"{ProfileName} is") + " interested in trade offers for this")" />
                }
            </BadgeContent>
            <ChildContent>
                <Badge Class="Item-Summary-Badge Item-Summary-Quantity-Badge"
                        Invisible="@(Item.Quantity <= 1)"
                        BadgeText="@Item.Quantity.ToString()"
                        Max="99"
                        Color="@Skclusive.Core.Component.Color.Primary"
                        Horizontal="@Horizontal.Right"
                        Vertical="@Vertical.Top">
                    <img src="@Item.IconUrl" />
                </Badge>
            </ChildContent>
        </Badge>
        @if (Item.Value != null)
        {
            <Skclusive.Material.Typography.Typography Variant="@TypographyVariant.Body2">
                @Item.Currency.ToPriceString(Item.Value.Value)
            </Skclusive.Material.Typography.Typography>
        }
    </div>
</div>

@code {
    
    [Parameter]
    public string SteamId { get; set; }

    [Parameter]
    public ProfileInventoryItemSummaryDTO Item { get; set; }
    
    [Parameter]
    public string ProfileName { get; set; }

    [Parameter]
    public bool ProfileIsMe { get; set; }

    [Parameter]
    public bool ReadOnly { get; set; }

    private string GetItemStyles(ProfileInventoryItemSummaryDTO item)
    {
        return $"border: 2px solid {item.ForegroundColour}";
    }

    private void OnItemClicked(ProfileInventoryItemSummaryDTO item)
    {
        //Navigation.NavigateTo($"steam/marketplace/{item.Id}");
        string url = $"https://steamcommunity.com/market/listings/{item.SteamAppId}/{Uri.EscapeDataString(item.Name)}";
        JSRuntime.InvokeVoidAsync("WindowInterop.openInNewTab", url);
    }

    private async Task UpdateItemFlag(ProfileInventoryItemSummaryDTO item, SteamProfileInventoryItemFlags flag, bool value)
    {
        try
        {
            if (value)
            {
                item.Flags |= flag;
            }
            else 
            {
                item.Flags &= ~flag;
            }
            StateHasChanged();

            await Http.PutAsJsonAsync($"api/profile/{SteamId}/inventory/item/{item.SteamId}/{flag}", value);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, $"Error updating flag for item '{item.Name}' (flag: {flag}, value: {value})");
        }
    }
}
