@namespace SCMM.Web.Client.Pages.Steam.Inventory
@using SCMM.Web.Data.Models.Domain.InventoryItems
@inherits ComponentBase

<div style=" display: flex; align-items: center; align-content: center; padding: 8px;">
    <Avatar style="min-width:42px; min-height:42px; max-width:48px; max-height:48px; padding:5px; display:flex">
        <img src="@Profile.AvatarLargeUrl" style="min-width:42px; min-height:42px; max-width:48px; max-height:48px;" />
    </Avatar>
    <div style="display: inline-block; padding: 0px 16px;">
        <Skclusive.Material.Typography.Typography Variant="@TypographyVariant.Body2">
            @Profile.Name
        </Skclusive.Material.Typography.Typography>
        <Skclusive.Material.Typography.Typography Variant="@TypographyVariant.Subtitle2" Color="@Skclusive.Core.Component.Color.TextSecondary">
            @(String.IsNullOrEmpty(Profile.ProfileId) ? Profile.SteamId : Profile.ProfileId)
        </Skclusive.Material.Typography.Typography>
    </div>
</div>

@code {

    [Parameter]
    public ProfileSummaryDTO Profile { get; set; }

}
