@namespace SCMM.Web.Client.Shared.Component.Layout
@inherits ProfileComponent
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject HttpClient Http
@inject AppState State

<Component
    RootRef="@RootRef"
    Tag="@Component"
    Class="@_Class"
    Style="@_Style"
    @attributes="Attributes">
    <Avatar
        Class="@_AvatarClass"
        Style="@_AvatarStyle"
        Alt="Person"
        Src="@Avatar" />
    <Typography
        Class="@_NameClass"
        Style="@_NameStyle"
        Variant="@TypographyVariant.H6">
        @Name
    </Typography>
    <div class="Profile-Actions">
        @if (State.HasProfile)
        {
        <a @onclick="@ViewSettings" title="Settings">
            <i class="fas fa-fw fa-cog"></i>
        </a>
        <a @onclick="@Logout" title="Logout">
            <i class="fas fa-fw fa-sign-out-alt"></i>
        </a>
        }
    </div>
</Component>

@code {

    private void ViewSettings()
    {
        Navigation.NavigateTo("/settings");
    }

    private async Task Logout()
    {
        await State.LogoutAsync(Http, LocalStorage);
        Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
    }

} 