@namespace SCMM.Web.Client.Shared.Component.Layout
@inherits ProfileComponent

<Component
    RootRef="@RootRef"
    Tag="@Component"
    Class="@_Class"
    Style="@_Style"
    @attributes="Attributes">
    <Avatar
        Class="@_AvatarClass"
        Style="@_AvatarStyle"
        Alt="Person"
        Src="@Avatar" />
    <Typography
        Class="@_NameClass"
        Style="@_NameStyle"
        Variant="@TypographyVariant.H6">
        @Name
    </Typography>
    <div class="Profile-Actions">
        <a href="account/settings" title="Settings">
            <i class="fas fa-fw fa-cog"></i>
        </a>
        <a href="account/logOut" title="Logout">
            <i class="fas fa-fw fa-sign-out-alt"></i>
        </a>
    </div>
</Component>
