@namespace SCMM.Web.Client.Shared.Component.Layout
@inherits SidebarComponent

<Drawer
    RootRef="@RootRef"
    Class="@_Class"
    Style="@_Style"
    Open="@Open"
    OnClose="@OnClose"
    OnClick="@HandleClick"
    Anchor="@Anchor.Left"
    Variant="@Variant"
    PaperStyle="@_DrawerStyle"
    PaperClass="@_DrawerClass"
    @attributes="Attributes">
    <div
        class="@_ContentClass"
        style="@_ContentStyle">
        @ChildContent
    </div>
</Drawer>
