
<style>

    .demo-mat-card {
        max-width: 400px;
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }

</style>

<MatCard class="demo-mat-card">
    <MatCardContent>
        <MatCardMedia Wide="true" ImageUrl="@ImageUrl">
            <div class="demo-mat-card-content" style="color: white;">
                <MatHeadline6 class="demo-mat-card-clean-margin">@Headline</MatHeadline6>
                <MatSubtitle2 class="demo-mat-card-clean-margin">@Subtitle</MatSubtitle2>
            </div>
        </MatCardMedia>
        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">@BodyText</MatBody2>
    </MatCardContent>
    <MatCardActions>
        <MatCardActionButtons>
            <MatButton>Visit</MatButton>
        </MatCardActionButtons>
        <MatCardActionIcons>
            <MatIconButton Icon="@MatIconNames.Favorite"></MatIconButton>
        </MatCardActionIcons>
    </MatCardActions>
</MatCard>

@code {
    [Parameter]
    public string ImageUrl { get; set; }
    [Parameter]
    public string Headline { get; set; }
    [Parameter]
    public string Subtitle { get; set; }
    [Parameter]
    public string BodyText { get; set; }
}
