@namespace SCMM.Web.Client.Shared.Component.Navigation
@inherits ErrorComponent

<Component RootRef="@RootRef" Tag="@Component" Class="@_Class" Style="@_Style" @attributes="Attributes">
    <Grid Container Justify="@Justify.Center" Spacing="@Spacing.Four">
        <Grid Item Large="@GridSize.Six" ExtraLarge="@GridSize.Twelve">
            <div class="@_ContentClass" style="@_ContentStyle">
                <Typography Variant="@TypographyVariant.H4">
                    @Title
                </Typography>
                <Typography Variant="@TypographyVariant.Subtitle1">
                    @if (Exception != null)
                    {
                        <span>@Exception.GetType().Name</span>
                    }
                    else
                    {
                        @Title
                    }
                </Typography>
                @if (Exception != null)
                {
                    <p>@Exception.Message</p>
                }
                @MessageContent
            </div>
        </Grid>
    </Grid>
</Component>

@code {

    protected override bool ShouldRender() => false;

}