@namespace SCMM.Web.Client.Shared.Component.Navigation
@inherits ErrorComponent

<Component RootRef="@RootRef" Tag="@Component" Class="@_Class" Style="@_Style" @attributes="Attributes">
    <Grid Container Justify="@Justify.Center" Spacing="@Spacing.Four">
        <Grid Item Large="@GridSize.Six" ExtraLarge="@GridSize.Twelve">
            <div class="@_ContentClass" style="@_ContentStyle">
                <Typography Variant="@TypographyVariant.H1">
                    @Title
                </Typography>
                <Typography Variant="@TypographyVariant.Subtitle1">
                    @SubTitle
                </Typography>
                @MessageContent
            </div>
        </Grid>
    </Grid>
</Component>
