@namespace SCMM.Web.Client.Shared.Component.Navigation
@inherits LoadingComponent

<Component RootRef="@RootRef" Tag="@Component" Class="@_Class" Style="@_Style" @attributes="Attributes">
    <Typography class="Loading-Root">
        <CircularProgress /> <span>@Message</span>
    </Typography>
</Component>
